html, body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;

    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;

    background-image: url('./img/bg-netflix.jpg');
    background-size: cover;
    position: relative;

    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container header{
    height: 90px;
    width: 100%;
    position: relative;
    margin-top: 0px;
}

.logo{
    position: absolute;
    width: 160px;
    top: 0;
    left: 0;

    margin: 15px 25px;
}

.container .container-login{
    width: 314px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.75);

    min-height: 625px;
    padding: 60px 68px 40px;

    margin-bottom: 90px;
}

.container .container-login h1{
    font-weight: 700;
    width: 100%;
    font-size: 30px;
    margin-bottom: 28px;
}

.container .container-login form{
    width: 100%;
}

.form-control{
    margin-bottom: 16px;
    width: 100%;
    position: relative;
}

.form-control label{
    position: absolute;
    color: #8c8c8c;

    left: 16px;
    top: 20px;

    transition: all ease-in-out 0.4s;
}

.form-control input{
    width: calc(100% - 32px);
    background-color: #333333;
    border-radius: 4px;
    border: 0;
    color: #fff;
    outline: none;
    padding: 20px 16px 0;
    height: 32px;
    border-bottom: 2px solid #ffa60000;

    transition: background-color ease-in-out 0.15s;

    font-size: 16px;
}

.form-control input:focus{
    background-color: #444;
    border-bottom: 2px solid orange;
}

.form-control input:valid + label , .form-control input:focus + label{
    top: 5px;
    font-size: 13px;
}

.form-control button{
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    padding: 16px;
    margin: 24px 0px 0px 0px;
    background: #e50914;
    width: 100%;
    color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-help, .form-help a{
    color: #b3b3b3;
    font-size: 13px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container-login .footer-container{
    display: flex;
    flex-direction: column;
    height: 216px;
}

.container-login .footer-container *{
    margin-bottom: 10px;
}

.facebook-login{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
    color: #737373;
}
.facebook-login img{
    margin-right: 10px;
}
.facebook-login:hover{
    cursor: pointer;
}

.footer-container p{
    color: #737373;
}

.footer-container p a{
    color: white;
}

.footer-container .captcha{
    margin-top: 11px;
    font-size: 13px;
    color: #8c8c8c;
}

.footer-container .captcha a{
    color: #0071eb;
}


/* footer do footer */
footer{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    padding-bottom: 20px;
}

footer .main-footer{
    width: auto;
    margin:  0px 50px;
    padding: 30px 0;
}

footer .main-footer .header-do-footer{
    margin-bottom: 30px;
    color: #757575;
}

footer .main-footer .header-do-footer a {
    color: #757575;
}

.main-footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-footer ul li{
    display: inline-block;
    min-width: 100px;
    width: 25%;
    margin-bottom: 16px;
    padding-right: 12px;
    vertical-align: top;
    
}

.main-footer ul li a{
    color: #757575;
    font-size: 13px;
}

select{
    margin-top: 20px;
}


